.generalFont {
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.boldText {
    font-weight: 600;
}

.buttonText {
    white-space: normal !important;
    word-wrap: break-word;
    font-size: 150%;
}

.buttonWithoutShadow:focus,
.buttonWithoutShadow.focus,
.buttonWithoutShadow:not(:disabled):not(.disabled):active:focus,
.buttonWithoutShadow:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
}

a, .noOutline {
    outline: none;
}

.noDecoration,
.noDecoration:hover,
.noDecoration:focus {
    text-decoration: none;
}

a.outlined {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.bgLogin {
    background-size: cover;
    background: url("/images/bgLogin.jpeg") center;
}

.burgerFocus:focus, .burgerFocus.focus {
    outline: 0;
    border-color: rgba(89, 49, 150, 0.5);
}

.loginImage {
    opacity: 0.75;
    border-radius: 3%;
    border: thick solid rgb(156, 166, 90);
}

.carouselElement {
    height: 100vh;
    /*
    1vh = 1% dell'altezza della viewport
    100vh = Tutta l'altezza della viewport
     */
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.imageCover {
    object-fit: cover;
}

.navLogo {
    background: url("/images/smallLogo.png") no-repeat scroll center center;
    background-size: contain;
}

.smallText {
    font-size: small;
}

.bigText {
    font-size: x-large;
}

.bgImage {
    margin: 0;
    background: url("/images/smallLogo.png") repeat;
    background-size: 25px;
}

.scrollingCol {
    overflow-y: auto;
}

.wordBreak {
    word-wrap: break-word;
}

.cursorPointer {
    cursor: pointer;
}

.over {
    background: transparent;
    z-index: 102; !important;
    position: absolute;
    top: 0;
    left: 0;
}

.under {
    z-index: 101; !important;
}

/*
Nota: Nelle definizioni successive, tutte le regole marcate con (X) devono riportare SEMPRE lo stesso valore in rem
(per esempio 3.5rem).
 */

nav.navbarMinHeight {
    min-height: 3.5rem !important; /* (X) */
}

main.mainMinHeight {
    min-height: calc(95vh - 2 * 3.5rem); /* (X) */
}

.sideColumn {
    position: -webkit-sticky;
    position: sticky;
    top: 3.5rem; /* (X) */
    height: calc(100vh - 2 * 3.5rem); /* (X) */
    overflow-y: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: .875rem;
}

.sideColTogglersContainer {
    top: 3.5rem; /* (X) */
    z-index: 999 !important;
}

#backBtnContainer {
    bottom: 3.5rem; /* (X) */
}

.profileInfoBackground {
    background-color: rgba(142, 68, 173, .25);
}

hr.hrThick {
    height: 0.25vh;
}

.disabledAnchor {
    pointer-events: none;
}

img.filteredCoverArt {
    filter: opacity(37.5%);
}

.audioElementCounter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vh;
}

.profileImage {
    min-height: 150px;
    max-height: 25vmin;
}

textarea.unresizable {
    resize: none;
}

#searchSelect {
    max-width: 7em;
}

/*
    Proprietà che vale solo per Firefox
*/
@media(min--moz-device-pixel-ratio:0) {
    #searchSelect {
        max-width: 7em;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C6.5%20M-252.7%2C155l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");
        padding-right: 25px;
        background-repeat: no-repeat;
        background-position: right center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

.fileLabelHeightReset {
    height: calc(2.25rem) !important;
}

a.imageLink > img:hover {
    opacity: 0.5;
    filter: alpha(opacity = 50); /* Solo IE8 o precedenti */
}